$themeColourMain: rgb(0, 0, 0);
$themeColourSecondary: rgb(255, 213, 0);
$textColour:rgb(199, 198, 198);

.About{
    padding-top: 5rem;
    
    main{
        max-width: 900px;
        margin: 0 auto;
        padding: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap:3rem ;
        column-gap: 6rem;
        img{
            border-radius: 100rem;
            width: 100%;
        }
        section{
            h3{
                font-size: 2.5rem;
                color: white;
                margin-bottom: 1.5rem;
            }
            p{
                color: $textColour;
                width: 80%;
                font-size: 1.3rem;
            }
        }
    }
}

@media (max-width:640px) {
    .About{
        main{
            justify-content: center;
            align-items: center;
            grid-template-columns: 1fr;
            .switch{
                grid-row: 3/4;
            }
            img{
                width: 50%;
            }
        }
    }
}